<div class="categoryCard">
  <button class="categoryCard__info" (click)="toggleBackOfCard()">
    <app-svg id="info"></app-svg>
  </button>
  <div
    class="categoryCard__turnBlock"
    [style.height.px]="imageHeight ? imageHeight : undefined"
  >
    <div class="categoryCard__image" *ngIf="!backOfCard" [@categoryCardImage]>
      <img
        #categoryCardImage
        [src]="category.imageURL"
        [alt]="category.title + ' image'"
      />
    </div>
    <div
      class="categoryCard__description"
      *ngIf="backOfCard"
      [@categoryCardDescription]
    >
      {{ category.description }}
    </div>
  </div>
  <div class="categoryCard__title">
    <a
      [routerLink]="['/recipes', 'category', category.title | lowercase]"
      [queryParams]="{ page: 1 }"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="categoryCard__titleLink"
      >{{ category.title | uppercase }}</a
    >
  </div>
</div>
