<header class="header">
  <nav class="header__navigation">
    <a
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      [routerLinkActiveOptions]="{ exact: true }"
      class="header__link"
      >Home</a
    >
    <app-svg id="logo" class="header__logo"></app-svg>
    <a
      [routerLink]="['/recipes', 'default', 'default']"
      [queryParams]="{ page: 1 }"
      ariaCurrentWhenActive="page"
      class="header__link"
      [class.active]="isActiveRecipe | async"
      >Recipes</a
    >
  </nav>
  <div class="header__searchBar">
    <app-search-bar></app-search-bar>
  </div>
  <a
    [routerLink]="['/favorites']"
    ariaCurrentWhenActive="page"
    class="header__favorite"
  >
    <app-svg id="favorite"></app-svg>
  </a>
</header>
