@import '~/src/variables.scss';

.header {
  background: $GREEN;
  padding-top: 55px;
  padding-bottom: 35px;

  &__navigation {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.1em;
    display: grid;
    column-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    align-items: center;
    justify-content: center;
    @media (max-width: 1200px) {
      font-size: 25px;
      line-height: 28px;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover:not(.active) {
      transition: 0.5s;
      color: $BLACK;
    }
    &.active {
      text-decoration: underline;
    }
  }

  &__logo {
    fill: white;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    box-sizing: content-box;
    @media (max-width: 1200px) {
      width: 50px;
      height: 50px;
    }
  }
}