@import '~/src/variables.scss';

.header {
  background: $GREEN;
  padding-top: 55px;
  padding-bottom: 35px;

  &__navigation {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.1em;
    display: grid;
    column-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    align-items: center;
    justify-content: center;
  }

  &__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    &.active {
      text-decoration: underline;
    }
  }

  &__logo {
    fill: white;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    box-sizing: content-box;
  }
}