<h1>{{ 'Search by request "' + searchValue + '"' }}</h1>
<div *ngIf="recipesPreviewList$ | async; else emptySearch">
  <app-recipes-section
    [recipes]="recipesPreviewList$ | async"
  ></app-recipes-section>
  <app-pagination
    [activePage]="activePage"
    [totalQuantityOfPages]="totalQuantityOfPages"
    (newActivePage)="changePage($event)"
  ></app-pagination>
</div>
<ng-template #emptySearch>
  <div class="emptySearch">
    <h1 class="emptySearchTitle">No results found</h1>
    <p class="emptySearchSubtitle">
      We couldn't find what you're looking for. Please try another way.
    </p>
  </div>
</ng-template>
