@import '~/src/variables.scss';

.recipeCard {
  width: 100%;
  height: 100%;
  padding: 18px;
  border-width: 4px;
  border-style: dashed;
  border-color: rgba($color: $GREEN, $alpha: 0.6);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 3px rgba($color: $GREEN, $alpha: 0.4);
  transition: 0.4s;
  &:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 4px 5px rgba($color: $GREEN, $alpha: 0.6);
    transform: translateY(-8px);
  }

  &__title {
    text-align: center;
  }
  
  &__link {
    color: $DARK_BROWN;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: $GREEN;
      transition: 0.8s;
    }
  }

  &__image {
    position: relative;
    text-align: center;
    margin-bottom: 12px;
  }

  &__tagsList {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    background: rgba($color: $PINK, $alpha: 0.5);
    color: $BLACK;
    font-weight: 700;
    svg {
      fill: $BLACK;
      width: 12px;
      height: 12px;
    }
  }
}
