<div class="recipeCard">
  <div class="recipeCard__image">
    <app-recipe-image
      [imageURL]="recipe.imageURL"
      [title]="recipe.title"
    ></app-recipe-image>
  </div>
  <div class="recipeCard__title">
    <a
      [routerLink]="['/recipe', recipe.id]"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="recipeCard__link"
      >{{ recipe.title }}</a
    >
  </div>
  <div class="recipeCard__tagsList" *ngIf="!!recipe.tags">
    <small>
      <small *ngFor="let tag of recipe.tags" class="recipeCard__tag">
        <app-svg id="hash"></app-svg>
        {{ tag }}</small
      >
    </small>
  </div>
  <button
    [ngClass]="{ recipeCard__favorite: true, active: isFavorite }"
    (click)="toggleFavorite(recipe.id)"
  >
    <app-svg id="favorite"></app-svg>
  </button>
</div>
