<h1 class="modalAuth_title">{{ type | uppercase }}</h1>
<form [formGroup]="auth" (ngSubmit)="login()">
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput formControlName="email" />
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <app-svg [id]="hidePassword ? 'visibilityOff' : 'visibility'"></app-svg>
    </button>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">
    {{ type | uppercase }}
  </button>
</form>
