<form
  [formGroup]="filterForm"
  class="filterForm"
  >
  <select
    formControlName="filter"
    (change)="changeFilter('filter')"
    class="filterForm__choice"
  >
    <option
      *ngFor="let filterType of filterTypes"
      [ngValue]="filterType | lowercase"
      [defaultSelected]="isDefault(filterType)"
      [disabled]="isDefault(filterType)"
    >
      {{ isDefault(filterType) ? 'Choose filter' : filterType }}
    </option>
  </select>
  <span class="filterForm__choiceSeparation">:</span>
  <select
    formControlName="value"
    (change)="changeFilter('value')"
    class="filterForm__choice"
    >
    <option
      ngValue="default"
      [defaultSelected]="true"
      [disabled]="true"
    >
      {{(filterResultList$) ? 'Choose ' + filterForm.get('filter')?.value : '-'}}
    </option>
    <option
      *ngFor="let result of filterResultList$ | async as filterResultList"
      [ngValue]="result.title | lowercase"
      >{{result.title}}
    </option>
  </select>
</form>
