<select name="type" id="type" (change)="changeActiveType($event)">
  <option value="category" defaultSelected>Category</option>
  <option value="area">Area</option>
  <option value="ingredient">Ingredient</option>
</select>
<span>:</span>
<select
  name="category"
  id="category"
  (change)="changeActiveCategory($event)">
  <option
    value="default"
    [defaultSelected]="true"
    disabled>Choose {{ activeType.getValue() }}</option>
  <option
    *ngFor="let item of filterResultList$ | async as filterResultList"
    [value]="item.title | lowercase">{{ item.title }}
  </option>
</select>

