@import '~/src/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
body {
  max-width: 1940px;
  margin: 0 auto;
  background: rgba($color: #a2c523, $alpha: 0.2);
}
header, main, footer {
  @include appPadding;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

