$DARK_BROWN: #3C0E08;
$BROWN: #5C2018;
$LIGHT_GREEN: #a2c523;
$GREEN: #3C5516;
$BLACK: #1A1A1D;
$PINK: #A64A75;

@mixin appPadding {
  padding-right: 156px;
  padding-left: 156px;

  @media (max-width: 1440px) {
    padding-right: 120px;
      padding-left: 120px;
  }

  @media (max-width: 1200px) {
    padding-right: 80px;
    padding-left: 80px;
  }

  @media (max-width: 768px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 576px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 450px) {
    padding-right: 18px;
    padding-left: 18px;
  }

  @media (max-width: 375px) {
    padding-right: 11px;
    padding-left: 11px;
  }
}

@mixin recipeSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 18px;
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }
}