@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

@import '~/src/variables.scss';

app-recipe-swiper {
  display: grid;
}
.swiper {
  padding: 20px 40px 40px;
}

.swiper-button-prev, .swiper-button-next {
  color: rgba($color: $PINK, $alpha: 1);
}
.swiper-pagination-bullet {
  background: rgba($color: $PINK, $alpha: 1);
}